@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("Add New Movie", "MovieForm",null,new { @class="btn btn-primary"})
<br /><br />
@{
    if (@Model.Movies.Count > 0)
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Movie</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movies)
                {
                    <tr>
                        <td>@Html.ActionLink(@movie.Name, "Edit", new { id = movie.Id })</td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <text>No Movies Found.</text>
    }
}

