@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary(true,"Please fix below errors.")
    <div class="form-group">
        @Html.LabelFor(c => c.Name)
        @Html.TextBoxFor(c => c.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(c=>c.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.GenreTypeId)
        @Html.DropDownListFor(c => c.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre type", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.GenreTypeId)
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.ReleaseDate)
        @Html.TextBoxFor(c => c.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.ReleaseDate)
    </div>   

    <div class="form-group">
        @Html.LabelFor(c => c.NumberInStock)
        @Html.TextBoxFor(c => c.NumberInStock, new { @class = "form-control" })
        @Html.ValidationMessageFor(c => c.NumberInStock)
    </div>
    @Html.HiddenFor(c => c.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval");
}
