@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Movie</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <div class="form-group">
        @Html.LabelFor(c => c.Movie.Name)
        @Html.TextBoxFor(c => c.Movie.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.Genre)
        @Html.DropDownListFor(c => c.Movie.GenreTypeId, new SelectList(Model.GenreTypes, "Id", "Name"), "Select Genre type", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.ReleaseDate)
        @Html.TextBoxFor(c => c.Movie.ReleaseDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.DateAdded)
        @Html.TextBoxFor(c => c.Movie.DateAdded, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(c => c.Movie.NumberInStock)
        @Html.TextBoxFor(c => c.Movie.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(c => c.Movie.Id)
    <button type="submit" class="btn btn-primary">Save</button>
}

