@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@Html.ActionLink("Add New Customer", "CustomerForm",null, new { @class = "btn btn-primary" })
<br /><br />
@{
    if (@Model.Customers.Count > 0)
    {
        <table id="customers" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>MembershipType Name</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@Html.ActionLink(@customer.Name, "Edit", new { id = customer.Id })</td>
                        <td>@customer.MembershipType.Name</td>
                        <td>
                            <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>We don't have any customers yet.</p>
    }

}
@section scripts
    {
        <script>
            $(document).ready(function () {
                $('#customers').DataTable();

                $('#customers').on('click','.js-delete', function () {
                    var button = $(this);
                    bootbox.confirm("Are you sure you want to delete the Customer?", function(result){
                        if (result) {
                            $.ajax({
                                url: "/api/customers/" + button.attr("data-customer-id"),
                                method: "Delete",
                                success: function () {
                                    button.parents("tr").remove();
                                }
                            });
                        }
                    });                    
                });
            });
        </script>
    }

