@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@{
    if (@Model.Customers.Count > 0)
    {
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Customer</th>
                    <th>MembershipType Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@Html.ActionLink(@customer.Name, "Details", new { id = customer.Id })</td>
                        <td>@customer.MembershipType.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>We don't have any customers yet.</p>
    }

    @Html.ActionLink("Add New Customer","New")
}

